node_modules/
.venv/
__pycache__/
*.py[cod]
build/
dist/
coverage/
.DS_Store
.dodsrc
.netrc
*.log
.env*
!.env.example
data/*
data/**/*
!data/**/
!data/README.md
!data/**/.gitkeep
*.h5
*.HDF5
*.nc4
*.tif
